.footer{
    background-color: #e7e3e3;
    h4{
        font-size: 17px;
        color: $text;
        padding: 30px 0 12px 0;
        img{
            width: 80px;
            padding: 0 10px;
        }
    }
}